@font-face {
        font-family: 'Sakana';
        src: url('https://cdn.jsdelivr.net/gh/Mahmoud-ab/fonts-cdn@main/Sakana.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Aachen';
        src: url('https://cdn.jsdelivr.net/gh/Mahmoud-ab/fonts-cdn@main/Sakana.ttf') format('truetype');
    }
